<form action="{{ route('auth.register') }}" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>

  <label>
    Email
    <input type="email" name="email" />
  </label>

  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Register</button>
</form>
